@model Form113.Models.NewsLettersViewModel
<h2>Desinscription au site web</h2>

@using (Html.BeginForm("Delete", "NewsLetters", FormMethod.Post))
{
    <p>Pour vous desinscrire a la newsletter veuillez entrer votre email :</p>
    <div class="form-group">
        <label>Email</label>
        <input type="text" name="Email" />
    </div>
    
        <input hidden name="Id" value="@Model.Id">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Confirmer" class="btn btn-default" />
        </div>
    </div>
}