@model int
@*Affichage du nombre de produits en vente sur BestArt*@
<div class="panel danger">
    <div class="heading">
        <strong>Nombre d'articles en vente sur BestArts</strong>
    </div>
    <div class="content">
        <ul>
            @Model
        </ul>
    </div>
</div>
