
<div class="panel success">
    <div class="heading" id="heading">head</div>
    <div class="content" id="content">
        contenu
    </div>
</div>
@section scripts {
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/Partenaires/partenaire114.js"></script>
}