@{
    ViewBag.Title = "Index";
}

<div id="graph"></div>

@section styles {
    <link href="~/Areas/Admin/Scripts/Satistique/css/Satistique.css" rel="stylesheet" />
    <link href="~/Plugins/DatePicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Areas/Admin/Scripts/Satistique/js/Statistique.js"></script>

    <script src="~/Plugins/DatePicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Plugins/DatePicker/locales/bootstrap-datepicker.fr.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
}